


/* USER GENERAL */

.usergen{

}

.fitstpart{

}

.umanage{
    font-size: 30px;
    color: #21242c;
    font-family: system-ui;
    font-weight: 700;
}

.manage{
    font-size: 16px;
    color: #6e7a91;
    font-family: system-ui;
}


.searchndfilter{
    display: flex;
justify-content: space-between;
padding-top: 30px;
}

.searchgen2{
display: flex;
    background-color: #f3f4f680;
align-items: center;
gap: 10px;
padding: 10px;
border: 1px solid #4251f0;
width: 400px;
border-radius: 10px;

}

.searchgen2 input{
outline: none;

}

.fea{
    display: flex;
    gap: 40px;
}

.fea svg{
    color: #21242c;
    width: 20px;
height: 20px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: system-ui;
color: #21242c;
background-color: #f8f7fc;
gap: 10px;
border-radius: 10px;
width: 100px;
font-weight: 500;
cursor: pointer;
    
}

.export{
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 14px;
    font-family: system-ui;
color: #21242c;
background-color: #f8f7fc;
border-radius: 10px;
width: 100px;
font-weight: 500;
gap: 10px;
cursor: pointer;

}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 14px;
    font-family: system-ui;
color: #ffffff;
background-color: #4251f0;
border-radius: 10px;
width: 100px;
font-weight: 500;
gap: 10px;
cursor: pointer;

}



/* SECOND PART TABLE  */

.secondpart{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
margin-top: 30px;
padding: 30px;
border-radius: 10px;
padding-bottom: 50px;
}




.alluse {
font-size: 23px;
color: #21242c;
font-weight: 500;
    font-family: system-ui;

}

.alist {
font-size: 14px;
color: #6e7a91;
    font-family: system-ui;

}


.tablegen{
margin-top: 30px;
}

.firstline{
    display: flex;
    font-size: 14px;
    color: #6e7a91;
    font-family: system-ui;
    font-weight: 500;
    justify-content: space-between;
      box-shadow: 0 1px 0 rgba(220, 220, 220, 0.9);
      padding-bottom: 10px;
}


.secondline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
      box-shadow: 0 1px 0 rgba(220, 220, 220, 0.9);
      padding-bottom: 10px;

}

.secondline:hover{
    background-color: rgb(236, 236, 239);
}

.userimg{
    background-color: #333333;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.jon{
 
    font-size: 14px;
    color: #21242c;
    font-family: system-ui;
    font-weight: 500;

}

.jonemail{

  display: flex;
    font-size: 14px;
    color: #6e7a91;
    font-family: system-ui;

}

    .adm, .accti, .datee{
  font-size: 12px;
    font-family: system-ui;
color: #21242c;
}

 .datee, .timeo, .dlstdot{
    font-size: 12px;
    font-family: system-ui;
color: #6e7a91;
}

.adm{
    position: relative;
right: 72px;
}

.admi{
    position: relative;
right: 50px;
font-size: 12px;
    font-family: system-ui;
}

.acctii{
 position: relative;
right: 85px;
font-size: 12px;
    font-family: system-ui;
    color: #21242c;
}

.accti{
    position: relative;
right: 93px;
color: #21242c;
}

.datee{
     position: relative;
right: 112px;
}

.timeo{
     position: relative;
right: 133px;
}

.middlege{
display: flex;
justify-content: space-between;
gap: 100px;
margin-left: 30px;
}


.middlele2{
display: flex;
justify-content: space-between;
gap: 120px;
margin-left: 40px;

}

.dlstdot{
    position: relative;
    right: 18px;
}






/* THIDG PART MAPPING */


.thirdpart{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 20px;

}

.eachofthem{
    background-color: #fefefe;
    padding: 15px;
    border-radius: 10px;
    width: 245px;
    height: 130px;
}

.boxcontent{
padding-top: 20px;
padding-left: 10px;
}

.userr{
font-size: 14px;
color: #21242c;
font-family: system-ui;
font-weight: 500;
}

.numberr{
font-size: 24px;
color: #21242c;
font-family: system-ui;
font-weight: 700;
}

.detailss{
font-size: 12px;
color: #6e7a91;
font-family: system-ui;

}
